:root {
    /* COLORS */
--red: #D60F2F;
--white: #FFFFFF;
--background-light-grey: #F3F4F6;
--border-grey:#DADDE1;
--text-dark: #1F2328;
--muted-text: #5F6B7A;

/* FONTS */
--font-brand: 4vh;
--font-large: 3vh;
--font-basic: 20px;
--font-small: 1vh;
}

@mixin flex-center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@mixin font-reg {
  text-align: center;
  color: var(--white);
  background-color: var(--red);
}