  header {
    display: flex;
    justify-content: space-between;
    background: var(--red);
    color: var(--white);
    padding: 20px 10px;
    font-size: var(--font-large);
    height: fit-content;

    &:first-child {
      display: grid;
      align-self: center;
      font-size: var(--font-brand);
    }
  }

  .user {
    display: grid;
    grid-template-areas:
    "name edit"
    "currency edit";
    justify-items: end;
  }
  .user__name {
    grid-area: name;
  }
  .user__currency {
    grid-area: currency;
    font-size: var(--font-basic);
  }
  .user__edit {
    grid-area: edit;
    align-self: center;
    padding-left: 20px;
    font-size: var(--font-basic);
  }