  .main {
    display: grid;
    grid-template-areas:
    "claim total total"
    "claim review review"
    "claim review review"
    "claim review review";
    font-size: var(--font-basic);
  }

   .claim {
    grid-area: claim;
  }
  .total {
    grid-area: total;
  }
  .review {
    grid-area: review;
  }




  .claim__date {
    justify-content: space-between;
  }
   .claim__date > input,
   .claim__date > button {
    border: none;
    background: none;
  }

input[type="file"] {
  height: 100px;
}