/* DROPDOWN */
.dropdown {
  position: relative;
  /* background: var(--white); */
  color: var(--red);
  width: 100%;
  border: 1px solid var(--red);
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 20px;
  button {
    background: none;
    border: none;
  }
  ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--red);
    color: var(--white);
    border: 1px solid var(--red);
    border-radius: 20px;
    z-index: 1;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.2s ease, transform 0.2s ease;
    pointer-events: none;
  }
  &.open ul {
    opacity: 1;
    transform: scaleY(1);
    pointer-events: auto;
  }
}