@use '../../styles/variables' as *;

.welcome {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 100%;
  background-image: url(../../assets/home/jordan-4134851.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    // backdrop-filter: blur(2px);
    z-index: 0;
  }
  .welcome__content {
    z-index: 1;
    align-items: center;
    @include flex-center-col;
  }
}