@use '../../styles/variables' as *;

.overlay {
  // background: rgba(211, 211, 211, 0.4);
  @include flex-center-col;


  .modal {
    padding: 50px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.15);
  }
}